<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a href="#" class="navbar-brand">Brand</a>
    <div class="container">
    <button class="navbar-toggler" type="button" (click)=toggleNavbar()>
      <span class="navbar-toggler-icon"></span>
    </button>
    </div>

    <div class="collapse navbar-collapse" [ngClass]="{'show': navbarOpen}">
      
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="#" class="nav-link">Item 1</a>
        </li> 
        <li class="nav-item">
          <a href="#" class="nav-link">Item 2</a>
        </li> 
      </ul>
    </div>
  </nav> -->
<header class="ope">
  <div class="container">
    <nav class="nav">
      <div class="menu-toggle">
        <i class="fas fa-bars"></i>
        <i class="fas fa-times"></i>
      </div>
      <a href="index.html" class="logo"><img src="../assets/images/logo-rosa.png" alt="" /></a>
      <ul class="nav-list">
        <li class="nav-item">
          <a href="index.html" class="nav-link active">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Menu</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Reservations</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">News</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Shop</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<section class="hero" id="hero">
  <div class="container">
    <h2 class="sub-headline"><span class="first-letter">W</span>elcome</h2>
    <h1 class="headline">The Rosa</h1>
    <div class="headline-description">
      <div class="separator">
        <div class="line line-left"></div>
        <div class="asterisk"><i class="fas fa-asterisk"></i></div>
        <div class="line line-right"></div>
      </div>
      <div class="single-animation">
        <h5>Read to be opened</h5>
        <a href="#" class="btn cta-btn">Explore</a>
      </div>
    </div>
  </div>
</section>

<!-- Hero ends -->
<section class="discover-our-story">
  <div class="container">
    <div class="restaurant-info">
      <div class="restaurant-description padding-right animate-left">
        <div class="global-headline">
          <h2 class="sub-headline">
            <span class="first-letter">D</span>iscover
          </h2>
          <h1 class="headline headline-dark">Our Story</h1>
          <div class="asterisk"><i class="fas fa-asterisk"></i></div>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim
          recusandae sunt aspernatur? Ipsam minima consectetur qui, blanditiis
          beatae, dolorum soluta ipsa dolorem quos provident excepturi
          accusantium non corporis magnam sint tempora obcaecati sed odit
          accusamus. Aliquam quaerat iure adipisci at!
        </p>
        <a href="#" class="btn body-btn">About us</a>
      </div>
      <div class="restaurant-info-img aminate-right">
        <img src="../assets/images/our-story-1.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
<!-- Discover  our story ends -->
<section class="tasteful-recipes between">
  <div class="container">
    <div class="global-headline">
      <div class="animate-top">
        <h2 class="sub-headline">
          <span class="first-letter">T</span>asteful
        </h2>
      </div>
      <div class="animate-bottom">
        <h1 class="headline">Recipes</h1>
        <!-- <div class="asterisk"><i class="fas fa-asterisk"></i></div> -->
      </div>
    </div>
  </div>
</section>
<!--  Tasteful recipes ends -->
<section class="discover-our-menu">
  <div class="container">
    <div class="restaurant-info">
      <div class="image-group padding-right animate-left">
        <img src="../assets/images/menu-group-1.jpg" alt="">
        <img src="../assets/images/menu-group-2.jpg" alt="">
        <img src="../assets/images/menu-group-3.jpg" alt="">
        <img src="../assets/images/menu-group-4.jpg" alt="">
      </div>
      <div class="restaurant-description animate-right">
        <div class="global-headline">
          <h2 class="sub-headline">
            <span class="first-letter">D</span>iscover
          </h2>
          <h1 class="headline headline-dark">Menu</h1>
          <div class="asterisk"><i class="fas fa-asterisk"></i></div>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa recusandae facilis asperiores, quis, omnis
          suscipit iusto soluta velit alias iste eligendi distinctio possimus saepe, illo itaque est. Inventore nemo aut
          et modi impedit quasi, ipsum, tenetur molestias incidunt eos animi?
        </p>
        <a href="#" class="btn body-btn">View the full menu</a>
      </div>
    </div>
  </div>
</section>

<!-- Discover our menu End -->
<section class="perfect-blend between">
  <div class="container">
    <div class="global-headline">
      <div class="animate-top">
        <h2 class="sub-headline">
          <span class="first-letter">T</span>he perfect
        </h2>
      </div>
      <div class="animate-bottom">
        <h1 class="headline">Blend</h1>
      </div>
    </div>
  </div>
</section>
<!-- Perfect blend end -->
<section class="culinary-delight">
  <div class="container">
    <div class="restaurant-info">
      <div class="restaurant-description padding-right animate-left">
        <div class="global-headline">
          <h2 class="sub-headline">
            <span class="first-letter">C</span>ulinary
          </h2>
          <h1 class="headline headline-dark">Delight</h1>
          <div class="asterisk"><i class="fas fa-asterisk"></i></div>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim
          recusandae sunt aspernatur? Ipsam minima consectetur qui, blanditiis
          beatae, dolorum soluta ipsa dolorem quos provident excepturi
          accusantium non corporis magnam sint tempora obcaecati sed odit
          accusamus. Aliquam quaerat iure adipisci at!
        </p>
        <a href="#" class="btn body-btn">Make a reservation</a>
      </div>
      <div class="image-group">
        <img class="animate-top" src="../assets/images/delight-group-1.jpg" alt="">
        <img class="animate-bottom" src="../assets/images/delight-group-2.jpg" alt="">
      </div>
    </div>
  </div>
</section>
<!-- Culinary delight End -->
<footer>
  <div class="container">
    <div class="back-to-top">
      <a href="" class=""><i class="fas fa-chevron-up"></i></a>
    </div>
    <div class="footer-content">
      <div class="footer-content-about animate-up">
        <h4>About Rosa</h4>
        <div class="asterisk"><i class="fas fa-asterisk"></i></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea illo optio repellendus nihil recusandae
          voluptatum placeat sequi a quis. Et qui, quidem fuga, repellendus excepturi asperiores quisquam quae dolorem
          laboriosam voluptatibus, ipsum aperiam veritatis totam animi maiores fugit. Optio, omnis!</p>
      </div>
      <div class="footer-content-divider animate-bottom">
        <div class="social-menu">
          <h4>Follow along</h4>
          <ul class="social-icons">
            <li>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-tripadvisor"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-facebook-square"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-tripadvisor"></i></a>
            </li>
          </ul>
        </div>
        <div class="newsletter-container">
          <h4>Newsletter</h4>
          <form action="" class="newsletter-form">
            <input type="text" class="newsletter-input" placeholder="Your email address...">
            <button class="newsletter-btn" type="submit">
              <i class="fas fa-envelope"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>